<h1><%= @sub.title%></h1>

<h3>Description</h3>
<%= @sub.description %>

<%= link_to "Make New Post", new_post_url %>

<% @sub.posts.each do |post| %>
  <ul>
    <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <li><a href="<%= edit_sub_url(@sub) %>">Edit</a></li>
  </ul>
<% end %>
