<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if !logged_in? %>
      <li><a href="<%= new_session_url %>">Sign In!</a></li>
      <li><a href="<%= new_user_url %>">Sign Up!</a></li>
    <% else %>
      <ul>
        <%= current_user.username %>
        <li><a href="<%= new_sub_url %>"></a>Create a sub!</li>
        <li><a href="<%= subs_url %>"></a>All Subs</li>

          <form class="" action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" name="" value="Sign Out!">
          </form>

      </ul>
    <% end %>

    <% flash.each do |er| %>
      <%= er  %>
    <% end %>

    <%= yield %>
  </body>
</html>
