<h2>Edit Post!</h2>

<form class="" action="<%= post_url(@post) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>

  <br>

  <label>URL
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>

  <br>

  <label>Content
    <textarea name="post[content]" rows="4" cols="5"><%= @post.content %></textarea>
  </label>

  <br>

  <% @subs.each do |subby| %>
    <label>
      <input
        type="checkbox"
        name="post[sub_ids][]"
        value="<%= subby.id %>"
        <%= "checked" if @post.sub_ids.include?(subby.id) %> >
      <%= subby.title %>
      <br>
    </label>
  <% end %>

  <input type="submit" name="" value="Submit">
</form>
